.transaction-screen {
  .title {
    font-weight:normal;
    @include font-size(xl);
    // border-bottom:2px solid $aubergin;
    // padding-bottom:20px;
    // margin-bottom:20px;
  }
  > .inner {
    @include content-max-width;
  }
  .grid {
    align-items:flex-end;
    // padding-bottom:15px;
  }
  .grid > *{
    margin-right:10px;
  }
  .load-more {
  }
  .field-name {
    @include font-size(s);
  }
  .transactions {
    margin-bottom:50px;
  }
  .transactions .transaction:nth-child(odd) {
    background:white;
  }
}
.wrapper-transactions-head {
  margin-bottom: 20px;
  padding-bottom:20px;
  border-bottom:2px solid $aubergin;
  display: flex;
  align-items: center;
  .title, .form-holder {
    flex:1;
  }
  span {
    opacity:.6;
  }
  input {
    border:0;
    border-radius: 15px;
    text-align: center;
    height: 29px;
    color: #1e1e1e;
  }
  button {
    text-transform: uppercase;
  }
}
