.transaction-screen {
  .title {
    font-weight:normal;
    @include font-size(xl);
    border-bottom:2px solid $aubergin;
    padding-bottom:20px;
    margin-bottom:20px;
  }
  > .inner {
    @include content-max-width;
  }
  .grid {
    border-bottom:2px solid $smoke;
    padding-bottom:15px;
    align-items: center;
  }
  .grid > *{
    margin-right:10px;
  }
  .load-more {
  }
  .field-name {
    @include font-size(s);
  }
  .ae-panel {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}
